* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }

/* Home */

.home-container {
  background-image: url("../images/wedding_couple.jpg");
  background-position: center;
  background-size: cover;
  min-height: 600px;
  filter: grayscale(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container h1,
.home-p2,
.home-p3 {
  color: white;
  text-align: center;
}

.home-container h1 {
  font-size: 70px;
}

.home-p2,
.home-p3 {
  font-size: 25px;
  margin-top: -15px;
}

.home-p3 {
  margin-top: -10px;
  font-weight: bold;
  font-style: italic;
}

/* Jane */

.jane-container1 {
  filter: grayscale(50%);
  background-color: #ffdddd;
  padding-bottom: 80px;
}

.jane-container2 {
  max-width: 900px;
  margin: auto;
}

.jane-container2 h3 {
  text-align: center;
  margin-top: 80px;
  color: gray;
  font-size: 35px;
}

.jane-container2 img {
  filter: grayscale(50%);
}

.jane-container2 p {
  margin-top: 40px;
  font-style: italic;
  line-height: 30px;
}

.jane-btn {
  margin-left: 40%;
  margin-top: 30px;
  border: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.jane-btn:hover {
  color: black;
  background-color: #ccc;
}

@media only screen and (max-width: 768px) {
    .jane-container2 {
      margin: 30px;
    }
    
    .jane-container2 img {
      width: 100%;
    }

    .jane-btn {
      margin-left: 20%;
    }
}

/* section3 */

.section3-container {
  background-image: url("../images/flowers.jpg");
  min-height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  filter: grayscale(5%);
}

.section3-container h1 {
  color: white;
  font-size: 60px;
}

.section3-container p {
  color: white;
  font-size: 35px;
}
